<footer role="contentinfo">
  <div class="row">
    <div class="row-content buffer even centertxt clear-after">
      <section id="top-footer">
        <div class="widget made-with-love">
        Made with <i class="fa fa-heart"></i> in Egypt
        </div>
        <div class="widget">
          <ul class="flat">
            <li class="menu-item"><a href="@@base">Home</a></li>
            <li class="menu-item"><a href="@@base/portfolio">Portfolio</a></li>
            <li class="menu-item"><a href="@@base/testimonials">Testimonials</a></li>
            <li class="menu-item"><a href="@@base/contact">Contact</a></li>
          </ul>
        </div>
        <div class="widget meta-social">
          <ul class="inline">
            <li><a href="https://twitter.com/mdkholy" target="_blank" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="https://github.com/mdkholy" target="_blank" class="github-share border-box"><i class="fa fa-github fa-lg"></i></a></li>
            <li><a href="skype:mdkholy?chat" class="skype-share border-box"><i class="fa fa-skype fa-lg"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mdkholy" target="_blank" class="linkedin-share border-box"><i class="fa fa-linkedin fa-lg"></i></a></li>
            <li><a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#109;&#100;&#107;&#104;&#111;&#108;&#121;&#046;&#109;&#101;" target="_blank" class="gplus-share border-box"><i class="fa fa-envelope fa-lg"></i></a></li>
          </ul>
        </div>
      </section><!-- top-footer -->
    </div><!-- row-content -->
  </div><!-- row -->
</footer>

<script src="@@base/assets/js/app.js"></script>