<header role="banner" class="transparent light">
  <div class="row">
    <div class="nav-inner row-content buffer-left buffer-right even clear-after">
      <div id="brand">
        <a class="mdkholy-logo" href="@@base"></a>
      </div><!-- brand -->
      <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
      <nav role="navigation">
        <ul class="reset">
          <li class="menu-item @@if (currentPage == 'home') {active}"><a href="@@base">Home</a></li>
          <li class="menu-item @@if (currentPage == 'portfolio') {active}"><a href="@@base/portfolio">Portfolio</a></li>
          <li class="menu-item @@if (currentPage == 'testimonials') {active}"><a href="@@base/testimonials">Testimonials</a></li>
          <li class="menu-item @@if (currentPage == 'contact') {active}"><a href="@@base/contact">Contact</a></li>
        </ul>
      </nav>
    </div><!-- row-content -->
  </div><!-- row -->
</header>