<header role="banner" class="transparent light">
  <div class="row">
    <div class="nav-inner row-content buffer-left buffer-right even clear-after">
      <div id="brand">
        <a class="mdkholy-logo" href=""></a>
      </div><!-- brand -->
      <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
      <nav>
        <ul class="reset" role="navigation">
          <li class="menu-item"><a href="home-01.html">Home</a></li>
          <li class="menu-item"><a href="works-4-columns.html">Portfolio</a></li>
          <li class="menu-item"><a href="works-4-columns.html">Testimonials</a></li>
          <li class="menu-item"><a href="resume.html">Resume</a></li>
          <li class="menu-item"><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div><!-- row-content -->
  </div><!-- row -->
</header>